<h1 class="text-center mb-5">Here is your new recipe</h1>
<hr />
<div class="row mb-5">
  <div class="col-md-7">
    <%= render 'shared/recipe_image', recipe: @recipe %>
  </div>
  <div class="col-md-5">
    <h3>Name: <%= @recipe.name %></h3>
    <p>Description: <%= @recipe.description %></p>
    <p>Image Text: <%= @recipe.image_text %></p>
    <%= link_to 'View Recipe', recipe_path(@recipe), class: 'btn btn-primary' %>
  </div>
</div>

<% if @recipes.any? %>
  <div class="mt-5">
    <h3 class="text-center">Take a look at some other recipes</h3>
    <hr />
    <% @recipes.each do |recipe| %>
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <%= render 'shared/recipe_image', recipe: recipe %>
        </div>
        <div class="col-md-5">
          <h3>Name: <%= recipe.name %></h3>
          <p>Description: <%= recipe.description %></p>
          <p>Image Text: <%= recipe.image_text %></p>
          <%= link_to 'View Recipe', recipe_path(recipe), class: 'btn btn-primary' %>
        </div>
      </div>
      <!-- /.row -->

      <hr>
    <% end %>
  </div>
<% else %>
  <div class="text-center my-5 py-5">
    <h2>Looks like this user hasn't added any recipes yet <%= icon('far', 'frown') %></h2>
  </div>
<% end %>